<main class="page has-sidebar">

    <div class="container-fluid relative animatedParent animateOnce">
        <!-- Start	Product details -->
        <div class="product-details col-xs-12">

            <!-- 	Product Name -->
            <h1>ExYuRadio.rs</h1>
            <span class="hint-star star">
                Kontaktirajte nas putem mail-a!
            </span>


            <!-- The most important information about the product -->
            <p class="information">Ukoliko ste vlasnik radio stanice koja se ne nalazi na našem portalu, a želite da se
                vaša radio stanica nađe na našem spisku i time povećate svoju slušanost, možete nam se javiti!
            </p>
            <p class="information">
                Takođe, ukoliko primetite da neka radio stanica nije u funkciji, slobodno nas obavestite, bićemo Vam
                zahvalni!
            </p>

            <p class="information">
                Uživajte u slušanju Vaših omiljenih radio stanica,
                <br><span>ExYuRadio Tim</span>
            </p>


            <!-- 		Control -->
            <div class="control">

                <!-- Start Button buying -->
                <button class="btn">
                    <!-- 		the Price -->
                    <a href="mailto:info@exyuradio.rs" class="price"><i class="fa fa-envelope"></i> Pošaljite
                        mail</a>
                    <!-- 		shopping cart icon-->
                    <a href="mailto:info@exyuradio.rs" class="shopping-cart"><i class="fa fa-paper-plane"></i>
                        Pošaljite mail</a>
                    <!-- 		Buy Now / ADD to Cart-->
                    <a href="mailto:info@exyuradio.rs" class="buy">info@exyuradio.rs &nbsp;</a>
                </button>
                <!-- End Button buying -->

            </div>

            <div class="copyright">
                <span>Design and Development by </span>
                <a href="mailto:webaj.info@gmail.com">WebAJ</a>
            </div>

        </div>

        <!-- 	End	Product details   -->



        <!-- 	Start product image & Information -->

        <div class="product-image hidden-xs">

            <img style="width: 100%; height: 100%;" src="../../../../assets/img/demo/contact.jpg" alt="Omar Dsoky">

            <!-- 	product Information-->
            <!--<div class="info">
                <h2>The Description</h2>
                <ul>
                    <li><strong>Sun Needs: </strong>Full Sun</li>
                    <li><strong>Soil Needs: </strong>Damp</li>
                    <li><strong>Zones: </strong>9 - 11</li>
                    <li><strong>Height: </strong>2 - 3 feet</li>
                    <li><strong>Blooms in: </strong>Mid‑Summer - Mid‑Fall</li>
                    <li><strong>Features: </strong>Tolerates heat</li>
                </ul>
            </div>-->
        </div>
        <!--  End product image  -->


    </div>

</main>