<main id="pageContent" class="page has-sidebar">
    <div class="container-fluid relative animatedParent animateOnce p-0">
        <div class="animated fadeInUpShort go">

            <!--Banner-->
            <section class="relative" data-bg-possition="center"
                style="background-image:url('assets/img/demo/b3.jpg');">
                <div class="has-bottom-gradient">
                    <div class="row pt-5 ml-lg-5 mr-lg-5">
                        <div class="col-md-10 offset-1">
                            <button class="backButton" (click)="backToPreviousPage()"><i class="fa fa-arrow-left"></i>
                                &nbsp; Vrati se nazad</button>
                            <!--<img src="assets/img/demo/reklama.jpg" class="adSense">-->
                            <div class="row my-5 pt-5 radio-container">
                                <div class="col-md-3">
                                    <img [src]="data.img" alt="/">
                                </div>
                                <div class="col-md-9">
                                    <div class="d-md-flex align-items-center justify-content-between">
                                        <h1 class="my-3 text-white ">{{data.title}}</h1>
                                        <div class="ml-auto mb-2">
                                            <a (click)="addFavorite()" class="snackbar" data-text="Bookmark clicked"
                                                data-pos="top-right" data-showaction="true" data-actiontext="ok"
                                                data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i
                                                    class="fa fa-heart s-24 {{favoriteInd}}"></i></a>
                                            <a *ngIf="data.website !== ''" (click)="goToLink()" target="_blank"
                                                class="snackbar ml-3" data-pos="top-right" data-showaction="true"
                                                data-actiontext="ok" data-actiontextcolor="#fff"
                                                data-backgroundcolor="#0c101b"><i class="fa fa-globe s-24"></i></a>
                                            <a (click)="copyLink()" target="_blank"
                                                class="snackbar ml-3" data-pos="top-right" data-showaction="true"
                                                data-actiontext="ok" data-actiontextcolor="#fff"
                                                data-backgroundcolor="#0c101b"><i class="fa fa-copy  s-24"></i></a>
                                            <!--<a href="#" class="snackbar ml-3" data-text="Thanks for sharing"
                                                data-pos="top-right" data-showaction="true" data-actiontext="ok"
                                                data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i
                                                    class="fa fa-exclamation-triangle s-24"></i></a>-->
                                        </div>
                                    </div>

                                    <div class="text-white my-2">
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{data.text}}</p>
                                    </div>
                                    <div class="pt-3 audio-player">
                                        <mat-basic-audio-player [audioUrl]="data.url" [title]="false"
                                            [displayTitle]="false" [displayVolumeControls]="false">
                                        </mat-basic-audio-player>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-gradient "></div>
            </section>

            <div class="p-3 p-lg-5">
                <!--New Releases-->
                <section>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="playlist">
                                        <ul class="list-group">
                                            <li class="list-group-item my-1" *ngFor="let item of allRadioStation">
                                                <div class="d-flex align-items-center">
                                                    <div class="col-1">
                                                        <img [src]="item.img">
                                                    </div>
                                                    <div class="col-6">
                                                        <h6>{{item.title}}</h6>
                                                    </div>
                                                    <a (click)="selectedRadioStation(item)"
                                                        class="btn btn-outline-primary btn-sm ml-auto">Slusaj</a>

                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--@New Releases-->

            </div>
        </div>
    </div>
</main>