<main id="pageContent" class="page has-sidebar">
    <div class="container-fluid relative animatedParent animateOnce p-0">
        <div class="animated fadeInUpShort go">
           
            <!--Banner-->
            <section class="relative" data-bg-possition="center"
                style="background-image:url('assets/img/demo/b3.jpg');">
                <div class="has-bottom-gradient">
                    <div class="row pt-5 ml-lg-5 mr-lg-5">
                        <div class="col-md-10 offset-1">
                             <button class="backButton" (click)="backToPreviousPage()"><i class="fa fa-arrow-left"></i> &nbsp; Vrati se nazad</button>
                            <div class="row my-5 pt-5">
                                <div class="col-md-3">
                                    <img [src]="data.img" alt="/">
                                </div>
                                <div class="col-md-9">
                                    <div class="d-md-flex align-items-center justify-content-between">
                                        <h1 class="my-3 text-white ">{{data.title}}</h1>
                                        <!--<div class="ml-auto mb-2">
                                                <a href="#" class="snackbar" data-text="Bookmark clicked" data-pos="top-right" data-showaction="true" data-actiontext="ok" data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i class="icon-bookmark s-24"></i></a>
                                                <a href="#" class="snackbar ml-3" data-text="You like this song" data-pos="top-right" data-showaction="true" data-actiontext="ok" data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i class="icon-heart s-24"></i></a>
                                                <a href="#" class="snackbar ml-3" data-text="Thanks for sharing" data-pos="top-right" data-showaction="true" data-actiontext="ok" data-actiontextcolor="#fff" data-backgroundcolor="#0c101b"><i class="icon-share-1 s-24"></i></a>
                                            </div>-->
                                    </div>

                                    <div class="text-white my-2">
                                        <p>{{data.text}}</p>
                                    </div>
                                    <div class="pt-3">
                                        <mat-basic-audio-player [audioUrl]="data.url" [title]="msbapTitle"
                                            [displayTitle]="msbapDisplayTitle"
                                            [displayVolumeControls]="msaapDisplayVolumeControls">
                                        </mat-basic-audio-player>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-gradient "></div>
            </section>


        </div>
    </div>
</main>