<main id="pageContent" class="page has-sidebar">

    <div class="container-fluid relative animatedParent animateOnce"  style="min-height: 100% !important;">
        <div class="animated fadeInUpShort p-md-5 p-3 go">
            <div class="d-flex">
                <div class="mb-4">
                    <h4>Dobrodosli na ExYuRadio.rs</h4>
                    <p>Sajt sa najvecim brojem radio stanica na Balkanu!</p>
                </div>
            </div>
            <p>
                Dobro došli na ExYuRadio.rs - Na ovoj web stranici možete pronaći i online slušati uživo radio
                stanice iz Srbije, Bosne i Hercegovine, Hrvatske, Crne Gore, kao i domaće radio stanice iz
                Dijaspore koje emituju svoj radio program uživo putem interneta. Naša prvenstvena želja bila da
                na jednom mjestu okupimo sve radio stanice na našim jezicima (Bosanski, Srpski, Hrvatski,
                Crnogorski), koje mogu da se slušaju besplatno na internetu. Time želimo pomoći našim ljudima u
                lakšoj potrazi za domaćim EXYU radijima, a ujedno i pomoći našim EXYU radio stanicama u
                povećanju popularnosti i slušanosti, pogotovo onim stanicama koje tek počinju sa online
                emitovanjem svog programa. Na molbu mnogobrojnih slušatelja, od nedavno možete da slušate i
                radio stanice iz Slovenije i Makedonije.
            </p>
            <p>
                Da bi mogli slušati sve radio stanice bez problema i prekida na našem portalu, tj. da bi uopšte
                mogli slušati radio uživo na internetu preko Vašeg računara, potrebni su Vam ovi besplatni
                kompjuterski programi: Adobe Flash Player, Windows Media Player i VLC Media Player. Tako da ako
                niste u mogućnosti da slušate neki od ovih radija na sajtu, moguće je da nemate instaliran jedan
                ili više od ta tri programa. Ponekad se neka od radio stanica nemože uključiti i zato što u tom
                trenutku ima previše slušalaca, u tom slučaju sačekajte malo, pa probajte ponovo... A ima i
                dosta radija koji ne emituju svoj program nonstop 24 sata uživo...
            </p>
            <!--<p>
                Vlasnik ste radija koji emituje svoj program online, a Vaša radio stanica se ne nalazi na našoj
                listi? Svoj radio možete dodati vrlo brzo i jednostavno. Dovoljno je samo da nam se javite
                mail-om i posaljete sve neophodne informacije. Sigurni ste da neki radio sa liste više ne radi?
                Javite našem uredniku da
                ga skloni ili promjeni live stream link! Uz Vašu pomoć i saradnju na sajtu uvjek mogu biti samo
                linkovi do radio stanica čiji su stream linkovi ispravni i rade... Hvala...
            </p>-->
        </div>
    </div>
</main>