<body class="sidebar-mini {{theme}}  sidebar-expanded-on-hover {{sidebar}}">

    <aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
        <div class="sidebar">
            <ul class="sidebar-menu">
                <li class="ajaxifyPage"><a [routerLink]="['/']"><i class="icon s-24"><img class="flags-icon"
                                src="./assets/img/flags/home.png"></i>Početna</a>
                <li class="ajaxifyPage"><a [routerLink]="['/about-us']"><i class="icon s-24"><img class="flags-icon"
                                src="./assets/img/flags/group.png"></i>O nama</a>
                <li class="ajaxifyPage"><a [routerLink]="['/serbia']"><i class="icon s-24"><img class="flags-icon"
                                src="./assets/img/flags/serbia.png"></i>Srbija</a>
                <li class="ajaxifyPage"><a [routerLink]="['/dijaspora']"><i class="icon s-24"><img class="flags-icon"
                                src="./assets/img/flags/dijaspora.png"></i>Dijaspora</a>
                <li class="ajaxifyPage"><a [routerLink]="['/croatia']"><i class="icon s-24"><img class="flags-icon"
                                src="./assets/img/flags/croatia.png"></i>Hrvatska</a>
                <li class="ajaxifyPage"><a [routerLink]="['/bih']"><i class="icon s-24"><img class="flags-icon"
                                src="./assets/img/flags/bosnia.png"></i>BIH</a>
                <li class="ajaxifyPage"><a [routerLink]="['/slovenia']"><i class="icon s-24"><img class="flags-icon"
                                src="./assets/img/flags/slovenia.png"></i>Slovenia</a>
            </ul>

        </div>
    </aside>
    <!--Sidebar End-->

    <!-- Right Sidebar -->
    <aside class="control-sidebar fixed {{rightSidebar}}" style="min-height: 100% !important;">
        <div class="slimScroll">
            <div class="sidebar-header">
                <h4>Play lista</h4>
                <p>Odabrana kolekcija za Vas!</p>
                <a (click)="openFavoriteSidebar()" data-toggle="control-sidebar"
                    class="paper-nav-toggle  active"><i></i></a>
            </div>
            <div class="p-3">
                <ul id="playlist" class="playlist list-group">
                    <li class="list-group-item my-1" *ngFor="let item of favoriteRadionStation; let i = index">


                        <div class="d-flex justify-content-between align-items-center">
                            <mat-basic-audio-player class="no-ajaxy media-url" [audioUrl]="item.url"
                                [title]="msbapTitle" [displayTitle]="msbapDisplayTitle"
                                [displayVolumeControls]="msaapDisplayVolumeControls">
                            </mat-basic-audio-player>
                            <figure class="avatar-md float-left mr-3 mt-1">
                                <img class="r-5" [src]="item.img" alt="">
                            </figure>
                            <div>
                                <h6>{{item.title}}</h6>
                            </div>
                            <span class="badge badge-primary badge-pill"> {{item.text}}</span>
                            <a (click)="removeFromFavorite(i)" data-toggle="control-sidebar"
                                class="paper-nav-toggle  active" style="top: 24% !important; right: -20px !important;"><i></i></a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </aside>
    <!-- /.right-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow  fixed"></div>

    <svg class="d-none">
        <defs>
            <symbol id="icon-cross" viewBox="0 0 24 24">
                <title>cross</title>
                <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            </symbol>
        </defs>
    </svg>
    <div class="searchOverlay page">
        <button id="btn-searchOverlay-close" class="btn btn--searchOverlay-close" aria-label="Close searchOverlay form">
            <svg class="icon icon--cross">
                <use xlink:href="#icon-cross"></use>
            </svg>
        </button>
        <div class="searchOverlay__inner  searchOverlay__inner--up">
            <form class="searchOverlay__form" action="index.html">
                <input class="searchOverlay__input" name="searchOverlay" type="text" placeholder="Search"
                    autocomplete="off" spellcheck="false" />
                <span class="searchOverlay__info">Hit enter to searchOverlay or ESC to close</span>
            </form>
        </div>
        <div class="searchOverlay__inner searchOverlay__inner--down">
            <div class="searchOverlay__related">
                <div class="searchOverlay__suggestion">
                    <div class="card mb-3">
                        <div class="card-header transparent b-b">
                            <strong>New Artists</strong>
                        </div>
                        <ul class="playlist list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div class="col-10">
                                        <figure class="avatar avatar-md float-left  mr-3 mt-1">
                                            <img src="assets/img/demo/u1.jpg" alt="">
                                        </figure>
                                        <h6>Zoe Foe</h6>
                                        <small>5 Albums - 50 Songs</small>
                                    </div>
                                    <a href="#" class="ml-auto"><i class="icon-more"></i></a>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div class="col-10">
                                        <figure class="avatar avatar-md float-left  mr-3 mt-1">
                                            <img src="assets/img/demo/u2.jpg" alt="">
                                        </figure>
                                        <h6>Zoe Foe</h6>
                                        <small>5 Albums - 50 Songs</small>
                                    </div>
                                    <a href="#" class="ml-auto"><i class="icon-more"></i></a>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div class="col-10">
                                        <figure class="avatar avatar-md float-left  mr-3 mt-1">
                                            <img src="assets/img/demo/u3.jpg" alt="">
                                        </figure>
                                        <h6>Zoe Foe</h6>
                                        <small>5 Albums - 50 Songs</small>
                                    </div>
                                    <a href="#" class="ml-auto"><i class="icon-more"></i></a>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div class="col-10">
                                        <figure class="avatar avatar-md float-left  mr-3 mt-1">
                                            <img src="assets/img/demo/u6.jpg" alt="">
                                        </figure>
                                        <h6>Zoe Foe</h6>
                                        <small>5 Albums - 50 Songs</small>
                                    </div>
                                    <a href="#" class="ml-auto"><i class="icon-more"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="searchOverlay__suggestion">
                    <div class="card mb-3">
                        <div class="card-header transparent b-b">
                            <strong>Events</strong>
                        </div>
                        <ul class="playlist list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex align-items-center ">
                                    <div class="col-8 ">
                                        <a href="video-single.html">
                                            <h6>Battal of Bands</h6>
                                        </a>
                                        <small class="mt-1"><i class="icon-placeholder-3 mr-1 "></i> London Music Hall
                                        </small>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="text-lg-center  bg-primary r-10 p-2 text-white primary-bg">
                                            <div class="s-18">24</div>
                                            <small>July, 2019</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center ">
                                    <div class="col-8 ">
                                        <a href="video-single.html">
                                            <h6>Battal of Bands</h6>
                                        </a>
                                        <small class="mt-1"><i class="icon-placeholder-3 mr-1 "></i> London Music Hall
                                        </small>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="text-lg-center  bg-primary r-10 p-2 text-white primary-bg">
                                            <div class="s-18">08</div>
                                            <small>July, 2019</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center ">
                                    <div class="col-8 ">
                                        <a href="video-single.html">
                                            <h6>Battal of Bands</h6>
                                        </a>
                                        <small class="mt-1"><i class="icon-placeholder-3 mr-1 "></i> London Music Hall
                                        </small>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="text-lg-center  bg-primary r-10 p-2 text-white primary-bg">
                                            <div class="s-18">12</div>
                                            <small>July, 2019</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--navbar-->
    <nav class="navbar-wrapper navbar-bottom-fixed shadow">
        <div class="navbar navbar-expand player-header justify-content-between  bd-navbar">
            <div class="d-flex align-items-center">
                <a (click)="sidebarCollapse()" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle ml-2 mr-2">
                    <i></i>
                </a>
                <a class="navbar-brand d-none d-lg-block" [routerLink]="['/']">
                    <div class="d-flex align-items-center s-14 l-s-2">
                        <span>ExYuRadio</span>
                    </div>
                </a>
            </div>
            <!--Player-->
            <div id="mediaPlayer" class="player-bar col-lg-8 col-md-5" data-auto="true">
                <div class="row align-items-center grid">
                    <!--<div class="col">
                        <div class="d-flex align-items-center">
                            <button id="previousTrack" class="btn btn-link d-none d-sm-block">
                                <i class="fa fa-backward s-18"></i>
                            </button>
                            <button class=" btn btn-link" id="playPause">
                                <span id="play"><i class="fa fa-play s-36"></i></span>
                                <span id="pause" style="display: none"><i
                                        class="icon-pause s-36 text-primary"></i></span>
                            </button>
                            <button id="nextTrack" class="btn btn-link d-none d-sm-block">
                                <i class="fa fa-forward s-18"></i>
                            </button>
                        </div>
                    </div>-->
                    <div class="col-8 d-none d-lg-block">
                        <div id="waveform"></div>
                    </div>
                </div>

            </div>
            <!--@Player-->
            <!--Top Menu Start -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <div class="col d-none d-lg-block">
                        <small class="track-time mr-2 text-primary align-middle"></small>
                        <a data-toggle="control-sidebar" (click)="openFavoriteSidebar()">
                            <i class="icon fa fa-bars s-24 align-middle"></i>
                        </a>
                    </div>
                    <kendo-switch [(ngModel)]="checked" (click)="switchBackground()" [onLabel]="'C'" [offLabel]="'B'">
                    </kendo-switch>
                </ul>
            </div>
        </div>

    </nav>

    <router-outlet></router-outlet>

</body>